.edit-dialog {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.edit-dialog-content {
  border-radius: 4px;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.close-edit-dialog {
  cursor: pointer;
  width: 17px;
  height: 14px;
  font-size: 28px;
  float: right;
}

.input-field {
  border-radius: 4px;
  border: solid 1px hsl(0, 0%, 80%);
  padding: 12px;
  width: 90%;
}
.input-field-select {
  border-radius: 4px;
  border: solid 1px hsl(0, 0%, 80%);
  padding: 12px;
  width: 90%;
}
.input-textarea {
  padding: 12px;
  border-radius: 4px;
  width: 85%;
  border: solid 1px hsl(0, 0%, 80%);
  min-height: 80px;
}
.category-select {
  width: 90%;
  color: black;
}
.update-btn {
  background-color: #0047ab;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  color: white;
  min-width: 21%;
}

@media (min-width: 268px) and (max-width: 960px) {
  .edit-dialog-content {
    width: 90%;
  }
}
