.contact-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.contact-us {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  border: solid 2px white;
  color: white;
  border-radius: 5px;
  background-color: #0047ab;
}

.contact-message {
  text-align: center;
}

.contact-us-name-label {
  margin-top: 20px;
}

.contact-us-email-field,
.contact-us-name-field {
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}

.contact-us-message-field {
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.contact-us-send-btn {
  width: 60px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #dedede;
  color: rgb(28, 28, 28);
}

.contact-us-send-btn:hover {
  background-color: #a7aaae;
}

@media (max-width: 600px) {
  .contact-us {
    width: 370px;
}
}

@media (min-width: 600px) and (max-width: 900px){
  .contact-us {
    width: 430px;
}
}
