.categories-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.categories {
  display: flex;
  margin: 5%;
}
.categories-button {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0 15px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 33px;
  overflow: hidden;
  background-color: #9a9a9a;
  height: 33px;
  border-radius: 14px;
  text-transform: uppercase;
  margin-right: 2px;
  min-width: 135px;
  cursor: pointer;
}
.categories-button:hover {
  background-color: orangered;
}
.products-container {
  text-align: -webkit-center;
  display: grid;
  column-gap: 5em;
  grid-template-columns: 33% 33% 33%;
  padding-left: 10em;
    padding-right: 10em;
  justify-content: center;
}
.products {
  background: rgb(255, 255, 255);
  margin-bottom: 1em;
  margin-top: 1em;
  height: 60%;
}

.product-img-store {
  width: 90%;
  height: 100%;
  border-radius: 0.4em;
}
.product-item-title {
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.667);
  font-weight: 500;
  text-align: center;
}
.desc {
  justify-self: center;
  width: max-content;
  font-size: 0.9em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.667);
  font-weight: 400;
  text-align: center;
  inline-size: fit-content;
  overflow-wrap: break-word;
  margin: 0;
}
.product-item-price {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.products-border {
  box-shadow: 3px 6px 20px 0 rgb(0 0 0 / 20%);
  border-radius: 0.3em;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-right: 8px;
    padding-left: 8px;
}

@media (max-width: 600px) {
  .products-container {
    text-align: -webkit-center;
    display: grid;
    column-gap: 5em;
    grid-template-columns: 33%;
    padding-left: 3em;
    padding-right: 5em;
    justify-items: center;
  }
  .categories-button {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0 15px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 33px;
    overflow: hidden;
    background-color: #9a9a9a;
    height: 33px;
    border-radius: 14px;
    text-transform: uppercase;
    margin-right: 2px;
    min-width: 85px;
    cursor: pointer;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .products-container {
    text-align: -webkit-center;
    display: grid;
    column-gap: 5em;
    grid-template-columns: 33% 33%;
    padding-left: 3em;
    padding-right: 5em;
    justify-content: center;
  }
  .categories-button {
    display: flex;
    gap: 7px;
    justify-content: center;
    align-items: center;
    padding: 0px 15px 0 15px;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 33px;
    overflow: hidden;
    background-color: #9a9a9a;
    height: 33px;
    border-radius: 14px;
    text-transform: uppercase;
    margin-right: 2px;
    min-width: 100px;
    cursor: pointer;
  }
}
