.cart-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cart-wrapper {
  display: flex;
  gap: 40px;
}

.cart-left-wrapper {
  flex: 2;
}
.cart-right-wrapper {
  flex: 1;
}

.cart-card {
  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 18px;
}
.cart-card-image {
  width: 125px;
  height: 160px;
  border-radius: 4px;
  margin-right: 20px;
}
.left-cart-card {
  display: flex;
  align-items: center;
}
.cart-card-text {
  align-self: flex-start;
}
.cart-card-title {
  font-size: 18px;
  margin-bottom: 12px;
}
.cart-card-price {
  font-size: 14px;
}
.cart-outline-btn {
  cursor: pointer;
  color: rgba(214, 0, 0, 0.995);
  padding-bottom: 2px;
  align-self: flex-end;
  border-bottom: solid 1px rgba(245, 245, 245, 0.6);
}

.cart-summary-title {
  font-size: 30px;
}

.cart-total-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  padding-top: 12px;
  text-transform: capitalize;
  border-bottom: solid 1px rgba(245, 245, 245, 0.6);
  margin-bottom: 12px;
}
.cart-checkout-btn {
  font-size: 12px;
  border-radius: 4px;
  background-color: #090909;
  text-align: center;
  height: 50px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}
.tabs-container {
  margin-top: 50px;
}

.cart-grid {
  display: flex;
  flex-direction: column;
  grid-gap: 16px;
  padding: 16px;
}

@media (min-width: 268px) and (max-width: 767px) {
  .cart-card {
    display: block;
  }
  .cart-outline-btn {
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .cart-grid {
    flex-direction: column;
  }
}
@media (min-width: 960px) {
  .cart-grid {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .cart-grid {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .cart-grid {
    display: flex;
    flex-direction: row;
  }
}
