.title-header {
  background-color: gray;
  background-color: #efefef;
  margin-bottom: 60px;
}

.inner-container {
  max-width: 1200px;
  margin: 0 auto;
}

.current-name {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 25px 1rem;
}

.align-image-center {
  text-align: center;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.card {
  padding: 1rem;
}

.product-image {
  width: 70%;
  height: auto;
}

.title-product {
  font-size: 22px;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-price {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
}

.specs-wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specs-name {
  color: #999;
  font-size: 12px;
  line-height: 23px;
}

.product-description {
  padding-top: 22px;
  color: #999;
  font-size: 12px;
  margin-bottom: 22px;
}

.description-title {
  color: #999;
  font-size: 22px;
  font-weight: 500;
}

.action-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0 15px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 33px;
  overflow: hidden;
  background-color: #9a9a9a;
  height: 33px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-right: 2px;
  min-width: 135px;
}

.btn:hover {
  cursor: pointer;
}

.quantity-select {
  display: flex;
  align-items: center;
  height: 33px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  font-size: 12px;
  font-weight: 400;
}

.quantity-count {
  font-size: 16px;
}

.quantity-action {
  margin-top: 5px;
  padding: 0px 22px;
  cursor: pointer;
  color: #999;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  height: 33px;
  padding: 8px;
  cursor: pointer;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
