.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background: dodgerblue;
}
.header-logo-img {
  background-color: #0047ab;
  width: 200px;
  border-radius: 5px;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.btn-spinner {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.text-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.top-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  background-color: #2d2d2d;
  color: #999;
  font-size: 12px;
  border-bottom: 6px solid #0047ab;
}

.top-header-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bottom-header-wrapper {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 15px 1rem;
}

.bottom-header-right-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-wrapper {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation-btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #545454;
  line-height: 100%;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cart-count-indicator {
  height: 19px;
  text-align: center;
  width: 19px;
  background: red;
  color: white;
  font-size: 13px;
  border-radius: 40px;
  position: absolute;
  left: 11px;
  top: -7px;
}
.dark {
  background-color:#2d2d2d;
  color: #fff;
}
.light {
  /* background-color: #fff; */
  color:#999
}
.dark  button{
  color: rgb(252, 247, 247);
  background-color: #0047ab
}
.dark div{
  color: #fff;
}
.dark .upper-footer{
background-color: #333;
}
.dark .cart-card{
  background-color: #0000005e
}
#ig{
  width: 40px;
  height: 40px;
}
.dark .top-header-wrapper {
 border-bottom:  6px solid #0047ab
}
.dark .cart-count-indicator {
  background-color: #0047ab
}
.dark .desc {
  color: white
}
.dark .current-name{
  color: #63a375;
}
.dark .search-card-title{
  color: #0047ab

}
.dark .cart-outline-btn{
  color: red;
}
.dark .cart-checkout-btn:hover{
  background-color: #0047ab
}
@media (max-width: 600px) {
  .bottom-header-wrapper {
    display: block;
    padding: 15px 1rem;
  }

  .bottom-header-right-wrapper {
    padding-top: 22px;
  }
}
