.search-container {
  position: relative;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.search-input {
  background-color: rgb(55, 55, 55);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border-style: none;
  padding: 0px 36px;
  color: white;
}
:focus-visible {
  outline: none;
}
.search-input::placeholder {
  color: #cccc;
}
.search-box {
  z-index: 999;
  background-color: rgb(55, 55, 55);
  min-height: 70px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  position: absolute;
  left: 0;
  top: 38px;
  border-radius: 4px;
  min-height: 45px;
}

.search-card-image {
  width: 32px;
  height: 40px;
  margin-right: 12px;
  border-radius: 4px;
}

.search-bar-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 18px;
  margin-bottom: 6px;
}
.search-card-title {
  color: white;
  font-size: 14px;
}
.search-view-more-btn {
  cursor: pointer;
  color: rgba(245, 245, 245, 0.6);
  margin: 0px 18px;
  padding-top: 12px;
  align-self: flex-end;
  border-bottom: solid 1px rgba(245, 245, 245, 0.6);
  width: 17%;
}

.no-matching-found {
  padding-left: 18px;
}
